
body {
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    position: relative; /* Añadido */
}
html {
    scroll-behavior: smooth;
}


/* HEADER */

header {
    width: 100%;
    background-color: transparent;   
    text-align: right;
    z-index: 2;
}
nav {
    width: 100%;
    height: 50px;
    position: fixed;
    top:0;
    z-index: 5;
    transition-property: top;
    transition-duration: 0.75s;
    transform: translateY(-5px); /* Desplaza hacia arriba 5px al pasar el mouse */
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


nav ul li {
    margin-right: 40px; /* Reduje el margen para mayor espacio */
    display: inline;
}

nav ul li a {
    text-decoration:none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    font-weight:500; 
    padding: 10px 15px;
    transition: all 0.5s ease; 
}


nav ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(22, 102, 194, 0.5);
    transition: all 0.3s ease;
    border-radius: 40px;
    transform: scale(2.1); 
}



/* Section heroimage */
.hero-image {
    background-image: url('/img/heroimage/heroimage2.jpeg'); /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    position: relative;
}


.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Color del texto */
}

.hero-content h1 {
    font-size: 8rem;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 2rem;
}



/* Seccion "Quiénes Somos" */
.quienes-somos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}


.titulo {
    margin-top: 0px;
    font-size: 4rem;
    margin-bottom: 0px;
}


.contenedor-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.video-container {
    width: 500px;
    height: 400px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden; /* Para recortar cualquier contenido que se desborde */
}

.play-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video-laboratorio {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para ajustar el tamaño del video manteniendo la relación de aspecto */
}


.informacion-container {
    width: 500px;
    height: 400px;
    margin-left: 40px; 
    padding: 20px;
 
}


.informacion-container p {
    font-size: 1rem;
    color: #666;
    margin: 0;
}

/*SECTION PRODUCTOS*/

.productos {
    padding: 70px 0;
    text-align: center;
    height: 90vh;
    position: relative; /* Añade posición relativa para que los elementos absolutos se posicionen en relación a este contenedor */
}

.productos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/img/heroimage/productos.jpeg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    filter: opacity(0.3); /* Reduce la opacidad de la imagen de fondo al 50% */
    z-index: -1; /* Coloca la imagen de fondo detrás de los otros elementos */
}

.productos h2 {
    font-size: 4rem;
}

.categorias {
    margin-top: -20px; 
    color: #0e4bae;
}

.categorias .categoria {
    text-align: center;
    display: inline-block;
    width: 80px;
    margin: 0 10px;
    padding: 10px 20px;
    border: 2px solid #0e4bae;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo cuando se pasa el ratón por encima */
.categorias .categoria:hover {
    background-color: #0e4bae;
    color: #ffffff;
}

/* Estilo para la categoría seleccionada */
.selected {
    background-color: #0e4bae;
    color: #ffffff;
}

/* Estilo para ocultar los productos que no corresponden a la categoría seleccionada */
.producto {
    display: none;
}

.producto.mostrar {
    display: block;
}
.productos-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en filas */
    justify-content: center;
    margin-top: 40px;
}

.producto {
    width: 300px; /* Ancho del producto para tres productos por fila */
    height: 300px;
    border: 1px solid #ccc;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; /* Ocultar cualquier contenido que se desborde */
}

.producto img {
    width: 100%; /* Ancho al 100% del contenedor */
    height: 100%; /* Altura al 100% del contenedor */
    object-fit: cover; /* Ajustar la imagen al contenedor sin distorsionar */
}
.info-producto {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.producto:hover .info-producto {
    bottom: 0;
    opacity: 1;
}

.info-producto i {
    font-size: 24px;
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.producto:hover .info-producto i {
    transform: scale(1.2);
}
/*galeria container*/

.galeria-container {
    text-align: center;
    height: 90vh;
    padding: 70px 0;
}

.titulo {
    font-size: 4rem;
    color: rgb(0, 0, 0);
    margin-top: 80px;
}

.galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.fila {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.recuadro {
    width: 250px;
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    margin: 0 10px;
}

.recuadro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-imagen {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.imagen-ampliada {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    max-height: 90%;
    margin-top: 10vh;
}

.navegacion-imagen {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.boton-navegacion {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 36px; /* Tamaño de fuente */
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 10px; /* Espaciado interno */
}

.boton-navegacion:hover {
    color: #0e4bae;
}

.close-imagen {
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}




/*CONTACTO*/
/* Estilos para la sección de contacto */

.container-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.titulo-contacto{
    font-size: 4rem;
    color: rgb(0, 0, 0);
    margin-top: -50px;
}

.fila-contacto {
    display: flex;
    margin-top: -30px;
}

.ubicacion {
    width: 350px;
    height: 470.5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-shrink: 0;
    margin-right: 100px;
    }



.formulario-contacto {
    width:400px; /* Ancho del formulario */
    height: 470.5px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}
.formulario-contacto form input[type="text"],
.formulario-contacto form input[type="email"],
.formulario-contacto form textarea {
    margin-left: 10px;
    width: 350px; /* Ancho del campo de entrada */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espaciado inferior */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    font-family: 'Poppins', Arial, sans-serif; /* Tipo de fuente */
    font-size: 16px; /* Tamaño de fuente */
}

.formulario-contacto form textarea {
    height: 100px; /* Altura del área de texto */
}

.formulario-contacto form input[type="submit"] {
    background-color: #0d47f5; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 12px 20px; /* Espaciado interno */
    cursor: pointer; /* Cursor al pasar */
    font-family: 'Poppins', Arial, sans-serif; /* Tipo de fuente */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave */
}

.formulario-contacto form input[type="submit"]:hover {
    background-color: #416FFF; /* Color de fondo del botón al pasar */
}

/*MODALCONTACTO*/

/* Estilos para el modal */
.modal-contacto {
    background-color:rgb(22, 102, 194); /* Color de fondo azul cielo */
    border: 1px solid #888;
    border-radius: 10px;
    width: 400px;
    height: 475.5px;
    text-align: left;
    margin-left: 980px;
    margin-top: -500px;

}

.modal-content {
    margin: auto;
    padding: 20px;
    font-size: 1.2rem;
}

/* Estilos para el botón de cerrar */
.close-contacto {
    color: #888;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -10px; /* Ajusta la posición verticalmente */
    right: -10px; /* Ajusta la posición horizontalmente */
}

.close-contacto:hover,
.close-contacto:focus {
    color: #000;
}

.opciones button {
    background-color: #0d47f5; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 12px 20px; /* Espaciado interno */
    cursor: pointer; /* Cursor al pasar */
    font-family: 'Poppins', Arial, sans-serif; /* Tipo de fuente */
    font-size: 16px; /* Tamaño de fuente */
    margin-right: 10px; /* Espacio entre los botones */
    transition: background-color 0.3s ease; /* Transición suave */
}

.opciones button:hover {
    background-color: #416FFF; /* Color de fondo del botón al pasar */
}

.opciones button:last-child {
    background-color: #FF5252; /* Color de fondo del botón Cancelar */
}

.opciones button:last-child:hover {
    background-color: #FF6E6E; /* Color de fondo del botón Cancelar al pasar */
}
/*FOOTER*/
footer {
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación centrada */
}

footer p {
    margin: 0; /* Elimina el margen por defecto */
}