
body {
    margin: 0;
    padding: 0;
    font-family: '';
    position: relative; /* Añadido */
}

/* HEADER */


header {
    background-color: transparent;
   
    text-align: right;
    position: relative;
    z-index: 2;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

/* Section heroimage */
.hero-image {
    background-image: url('/img/heroimage/heroimage2.jpeg'); /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    position: relative;
}


.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Color del texto */
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 2rem;
}



/* Seccion "Quiénes Somos" */
.quienes-somos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.titulo {
    font-size: 4rem;
    margin-bottom: 0px;
}


.contenedor-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.video-container {
    width: 500px;
    height: 400px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden; /* Para recortar cualquier contenido que se desborde */
}

.play-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video-laboratorio {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para ajustar el tamaño del video manteniendo la relación de aspecto */
}


.informacion-container {
    width: 500px;
    height: 400px;
    margin-left: 40px; 
    padding: 20px;
}


.informacion-container p {
    font-size: 1.2rem;
    color: #666;
    margin: 0;
}

/*SECTION PRODUCTOS*/
/*SECTION PRODUCTOS*/

.productos {
    padding: 70px 0;
    text-align: center;
    height: 90vh;
    position: relative; /* Añade posición relativa para que los elementos absolutos se posicionen en relación a este contenedor */
}

.productos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/img/heroimage/productos.jpeg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    filter: opacity(0.3); /* Reduce la opacidad de la imagen de fondo al 50% */
    z-index: -1; /* Coloca la imagen de fondo detrás de los otros elementos */
}

.productos h2 {
    font-size: 4rem;
}

.categorias {
    margin-top: -20px; 
    color: #0e4bae;
}

.categorias .categoria {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo cuando se pasa el ratón por encima */
.categorias .categoria:hover {
    background-color: #0e4bae;
    color: #ffffff;
}

/* Estilo para la categoría seleccionada */
.selected {
    background-color: #0e4bae;
    color: #ffffff;
}

/* Estilo para ocultar los productos que no corresponden a la categoría seleccionada */
.producto {
    display: none;
}

.producto.mostrar {
    display: block;
}
.productos-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en filas */
    justify-content: center;
    margin-top: 40px;
}

.producto {
    width: 300px; /* Ancho del producto para tres productos por fila */
    height: 250px;
    border: 1px solid #ccc;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; /* Ocultar cualquier contenido que se desborde */
}

.producto img {
    width: 100%; /* Ancho al 100% del contenedor */
    height: 100%; /* Altura al 100% del contenedor */
    object-fit: cover; /* Ajustar la imagen al contenedor sin distorsionar */
}

/*SECTION GALERIA*/

.galeria {
    text-align: center;
    padding: 50px 0;
    height: 90vh;

}

.galeria .titulo {
    font-size: 4rem;
}

.galeria-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.fila {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.recuadro {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    margin: 0 10px;
}
/*CONTACTO*/
/* Estilos para la sección de contacto */

.container-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin-top: 400px;
    margin-left: 10%;
    margin-right: 10%;
}

.titulo-contacto {
    font-size: 4rem;
    margin-bottom: 20px; /* Espacio entre el título y los contenedores */
}

.fila-contacto {
    display: flex;
}

.ubicacion {
    width: 300px; /* Ancho del contenedor de ubicación */
    height: 423px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-shrink: 0;
    margin-right: 160px;
    }

.formulario-contacto {
    width:400px; /* Ancho del formulario */
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}
.formulario-contacto form input[type="text"],
.formulario-contacto form input[type="email"],
.formulario-contacto form textarea {
    margin-left: 10px;
    width: 350px; /* Ancho del campo de entrada */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espaciado inferior */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    font-family: 'Poppins', Arial, sans-serif; /* Tipo de fuente */
    font-size: 16px; /* Tamaño de fuente */
}

.formulario-contacto form textarea {
    height: 100px; /* Altura del área de texto */
}

.formulario-contacto form input[type="submit"] {
    background-color: #0d47f5; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 12px 20px; /* Espaciado interno */
    cursor: pointer; /* Cursor al pasar */
    font-family: 'Poppins', Arial, sans-serif; /* Tipo de fuente */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave */
}

.formulario-contacto form input[type="submit"]:hover {
    background-color: #416FFF; /* Color de fondo del botón al pasar */
}
/*FOOTER*/
footer {
    margin-top: 300px;
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación centrada */
}

footer p {
    margin: 0; /* Elimina el margen por defecto */
}